body{
    background-image: linear-gradient(#DCD9D4, #FFFFFF);
}

#title-box {
    padding: 30px;
}

h1 {
    padding-bottom: 20px;
    padding-top: 15px;
}

.media {
    padding: 20px 400px;
}

.media-body {
    padding: 20px 80px;
}

/*.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}*/

#img-logo {
    width: 500px;
    height: 250px;
}


#ema-logo {
    height: 250px;
    width: 250px;

}

#ema-media {
    padding-right: 500px;
}
