.table {
    padding: 15px;
}

#tbl-sensordata tr {
    cursor: pointer;
}

tr.sensor i {
    cursor: pointer;
    vertical-align: middle;
    margin-left: 10px;
}

td:first-child {
    font-weight: bold
}

div.sensor-details table td{
    border: 0;
}

div.sensor-details table th{
    border: 0;
}
